@import 'fonts.scss';
@import 'colors.scss';
@import 'mixins.scss';


html, body {
    font-family: $lato;
}

#app {
    font-family: $lato;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: 700;
    color: $dark-grey;
}
p{
    color: $dark-grey;
}


